	.house{height: 40px;margin:20px 0;}
	.house li{float: left;height: 40px;line-height: 40px;margin-right: 20px;width: 120px;background: linear-gradient(#9bceff,#4ea9ff);text-align: center;cursor: pointer;border-radius: .5em;box-shadow: 2px 2px 2px rgba(0,0,0,.5);color: #333;}
	.house li.active{background: linear-gradient(#005db4,#9bceff);box-shadow: -1px 1px 1px rgba(0,0,0,.5),1px 1px 1px rgba(0,0,0,.5);}
	#house_all{
		width: 100px;height: 40px;line-height: 40px;display: block;
	}
	.choose{border:1px dashed #ccc;margin:20px 0;padding: 20px;color: #000;font-size: 14px;line-height: 1.5;}
	.chooseitems{border-bottom: 1px dashed #999;padding: 10px 0;}
	.chooseitems span{color:#666;}
	input[type="radio"]{margin: 0 5px 0 10px;}
	.choose input[type="button"]{display: block;margin-top: 20px;width: 80px;height: 30px;line-height: 30px;background:linear-gradient(90deg,#9bceff,#4ea9ff);}
	#houseshow li{float: left;width: 30%;margin:10px 1.5%;border:1px solid #333;padding: 5px;box-sizing: border-box;height: 460px;}
    #houseshow li img{width: 100%;}
    #houseshow li p{color:#666;}
    #houseshow li p span{color:#333;}
    #houseshow li h3{font-weight: 400;font-size: 16px;}
	#houseshow_all{padding: 80px 5px;position: relative;}
	#fixed{position: fixed;top: 400px;width: 750px;border:1px solid #666;padding: 10px 20px;box-sizing: border-box;background: rgba(255,255,255,.8);z-index: 999;}
	#fixed button{width: 100px;height: 30px;line-height: 30px;margin-right: 10px;margin-bottom: 10px;}
	#houseshow{border:1px solid #9bceff;}
	#houseshow::after{content: "";display: table;clear: both;}
	#houseshow .infor{padding: 5px;background-color: #9bceff;}
	#houseshow .infor p{font-size: 14px;}
	#houseshow .checked{position: relative;}
	#houseshow .checked::after{position: absolute;content: "";top: -5px;left: -4px;right: -4px;bottom: -4px;background: rgba(23,98,183,.5);z-index: 1;}
	#typemanager h2{line-height:60px;height:60px;border-bottom:2px solid #45b8e4;margin-bottom:20px;}
	#typemanager #typemanager-add{width:120px;height:40px;line-height:40px;background:linear-gradient(#fff, #3483cf);display:inline-block;margin-right:60px;}
	#typemanager input[type='text']{width:160px;height:24px;line-height:24px;}
	#typemanager button{width:60px;height:30px;line-height:30px;display:inline-block;margin:0 8px;}
	#typemanager table{margin-top:40px;  border-collapse: collapse;text-align:center;}
	#typemanager table tr{line-height:40px;height:40px;}
	#typemanager table th{width:600px;border:1px solid #ccc;background:#fbfbfb;}
	#typemanager table td{border:1px solid #ccc;background:#d6e7fa;}
	#typemanager table tr td a{margin-left:10px;display:inline-block;}
	#fixed .change{line-height:30px;color:#666;font-size:14px;}
	#fixed .change button{display:inline-block;margin-left:10px;background:linear-gradient(#3186d5,#9bc4eb);}
	#fixed .change input{height:24px;line-height:24px;width:180px;}
	#fixed .change span{color:red;}
	#addhome {text-align:center;}
	#addhome h2{line-height:60px;font-weight:400;}
	#addhome form{width:500px;text-align:left;margin:0 auto;padding:20px 10px;border:1px dashed #ccc;line-height:60px;}
	#addhome form b{font-weight:400;color:#666;padding-right:20px;}
	#addhome form input{line-height:24px;height:24px;}
	#addhome form  img{width:80px;height:80px; vertical-align:text-top;padding-right:20px;}
	#addhome form input[name="addhome-image"]{width:100px;}
	#addhome form select{width:100px;height:24px;line-height:24px;}
	#addhome form input[type="submit"],#addhome form input[type="reset"]{width:80px;height:40px;line-height:40px;margin-right: 10px;}
	#addhome form span{color:red;font-size:14px;display:inline-block;margin-left:10px;}